{% extends 'main.html' %}
{% load static %}

{% block title %}Painel do Aluno{% endblock %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

{% endblock %}

{% block content %}
<body class="bg-gray-100 text-gray-800">

    <!-- Botão para mostrar/ocultar o menu lateral em telas pequenas -->
    <button 
        id="toggle-sidebar" 
        class="fixed top-4 left-4 md:hidden z-50 bg-black text-white p-2 rounded">
        Menu
    </button>
    
    <div class="flex min-h-screen">

        {% include 'sidebar.html' %}
    
        <main class="flex-1 px-6 py-8 mt-16 md:mt-0 space-y-12">
    
            <h1 class="text-3xl font-bold">Bem-vindo(a) ao Painel Geral</h1>  
            <section>
                <h2 class="text-2xl font-semibold mb-4">Todos empréstimos</h2>
                    <div class="grid md:grid-cols-2 gap-4">
                        {% for emprestimo in emprestimos %}
                            <div class="bg-white rounded-xl shadow p-4 space-y-2">
                                <p><strong>Aluno:</strong> {{ emprestimo.aluno.nome_completo }}</p>
                                <p><strong>Curso:</strong> {{ emprestimo.aluno.curso }}</p>
                                <p><strong>Item:</strong> {{ emprestimo.material.nome }}</p>
                                <p><strong>Quantidade:</strong> {{ emprestimo.quantidade }}</p>
                                <p><strong>Data e hora da criação do pedido:</strong> {{ emprestimo.created|date:"d/m/y H:i:s" }}</p>
                                
                                {% if emprestimo.devolvido == False %} 
                                <p><strong>Situação:</strong> Não devolvido </p>
                                <p><strong>Data e hora prevista de Devolução:</strong> {{ emprestimo.data_prevista|date:"d/m/y H:i:s" }}</p>
                                
                                {% else %}
                                <p><strong>Situação:</strong> Devolvido</p>
                                <p><strong>Data e hora da devolução:</strong> {{ emprestimo.data_devolvida|date:"d/m/y H:i:s" }}</p>

                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
            </section>   
        </main>
    </div>
</body>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/lucide@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
<script>
    const toggleButton = document.getElementById('toggle-sidebar');
    const sidebar = document.getElementById('sidebar');

    toggleButton.addEventListener('click', () => {
        sidebar.classList.toggle('-translate-x-full');
    });

    lucide.createIcons();
</script>
{% endblock %}